body {
     background-color: #FFF;
     margin: 0 auto;
}

header {
     background-color: #466995;
     border-bottom: 1px solid; 
}

h1 {
    color: #466995;
    font-family: 'Franklin Gothic Medium',  sans-serif;
    font-size: 32px;
    font-weight: 300;
}

h2 {
    color: #333;
    font-family:'Oswald',sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin: 0 auto 20px auto;

}

p {
    color:#333;
    font-family: 'Varela Round',sans-serif;
    font-size: 18px;
    font-style: bold;
}

welcome {
    background-color: #DBE9EE;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
}
 
ul {
    margin: 30pxauto;
    padding: 0 20px;
}

li {
    list-style: none;
    color: #FFF;
    font-family: 'Oswald',sans-serif;
    font-size: 26px;
    font-weight: 300;
}

li:hover {
    color: #DBE9EE;
}

image {
      width:10%;
      height:10%;
}